@page "/connect"
@using Blazored.LocalStorage;
@inject HttpClient _httpClient
@inject NavigationManager NavigationManager
@inject ILocalStorageService _LocalStorageService
<h3>ConnectServer</h3>

<form method="post" @onsubmit="(() =>Connect())" >
   
    <InputText @bind-Value="Password" />
    <button type="submit">Submit</button>
</form>

@if (error)
{
    <h4>Password xato!!!</h4>
}


@code {
    string? Password;
    bool error =false;
    public async Task Connect()
    {

        var id = Convert.ToInt32(await _LocalStorageService.GetItemAsStringAsync("serverid"));

        var request = new HttpRequestMessage(HttpMethod.Get, $"/api/Connections/{id}?password={Password}");

        var respones = await _httpClient.SendAsync(request);
        if (respones.StatusCode == System.Net.HttpStatusCode.BadRequest)
        {
            error = true;
            NavigationManager.NavigateTo("/connect");
            
          
        }
        else
        {
            
            await _LocalStorageService.SetItemAsStringAsync("serverPassword", Password);
            NavigationManager.NavigateTo("/databases");

        }

    }

}
