@page "/createdatabase"

@using Blazored.LocalStorage;

@using CustompgAdmin.Blazor.Models.CreateModel;
@using Newtonsoft.Json;
@inject HttpClient _httpClient
@inject NavigationManager NavigationManager
@inject ILocalStorageService _LocalStorageService
<h3>Create Database</h3>

<form method="post" @onsubmit="(() =>Create())">

    <InputText @bind-Value="model.Name" />
    <button type="submit">Submit</button>
</form>
@if(error)
{
    <h4>format xato!!!</h4>
}


@code {
    string name;
    bool error;
    CreateDatabaseModel model = new CreateDatabaseModel();

    public async Task Create()
    {
        
        var response = await _httpClient.PostAsJsonAsync("/api/Databases", model);

        if (response.StatusCode == System.Net.HttpStatusCode.BadRequest)
        {
            error = true;
            NavigationManager.NavigateTo("/createdatabase");
        }
        else
        {
            NavigationManager.NavigateTo("/databases");
        }
    }
}