@page "/deletedatabase"
@using Blazored.LocalStorage;
@inject HttpClient _httpClient
@inject NavigationManager NavigationManager
@inject ILocalStorageService Storage

<h3>Deleted</h3>

<button type="button" class="btn btn-green" @onclick="(()=> Delete())">Approve</button>
@code 
{
    int id;
    protected  async Task Delete()
    {
        id = Convert.ToInt32(await Storage.GetItemAsStringAsync("databaseId"));
        await _httpClient.DeleteAsync($"/api/Databases?id={id}");
        NavigationManager.NavigateTo("/databases");
    }
}
