@page "/writequery"
@using Blazored.LocalStorage;
@using CustompgAdmin.Blazor.Models;
@inject HttpClient _httpClient;
@inject NavigationManager NavigationManager;
@inject ILocalStorageService Storage;
<h3>Query Tool</h3>

<form method="post" @onsubmit="(() =>Query())" >

    <InputText @bind-Value="query.Query" />
    <button type="submit">Submit</button>
</form>


@code {
    QueryForString query = new QueryForString();

    public async Task Query()
    {
        string[] strings = query.Query.Split(' ');
        query.Id =  Convert.ToInt32(await Storage.GetItemAsStringAsync("databaseId"));
        await _httpClient.PostAsJsonAsync<dynamic>("/api/Databases/write-query", query);
        NavigationManager.NavigateTo("/databases");
    }
}
